@import "tailwindcss";

:root {
  --background: #fbf8ee;
  --foreground: #22252a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk), sans-serif;
  --font-mono: var(--font-space-mono), monospace;
}

body {
  background-color: #fbf8ee;
  background-image: radial-gradient(#d6c69f 1.2px, transparent 1.2px);
  background-size: 24px 24px;
  color: #2b2d31;
}
